extends baseEmail

block content
  p Hi #{firstName},
  p Here is the response to your query:
  p Query: #{userQuery}
  p Response: #{adminResponse}
  p If you have any further questions, please feel free to reach out!
